---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found">
    <div class="h-[70vh] flex flex-col gap-4 items-center justify-center">
        <h1>Page Not Found</h1>
        <button type="button" class="bg-secondary text-white rounded-md px-4 py-2">Go Home</button>
    </div>
</Layout>
