---
import Layout from "../layouts/Layout.astro";
import TextPage from "../layouts/Text Page.astro";
---

<Layout title="About Us">
    <TextPage title="About Us">
        <h3>Welcome to Pavitra Pheres</h3>

        <p>
            At <a class="text-primary" href="/">Pavitra Pheres</a>, we're passionate about showcasing
            the timeless allure of Uttarakhand as an exquisite destination for
            weddings. Nestled amidst the majestic Himalayas, Uttarakhand offers
            a picturesque backdrop for couples seeking to exchange vows in a
            setting of natural splendor and cultural richness.
        </p>
        <p>
            Our mission is simple yet profound: to inspire and assist couples in
            crafting unforgettable moments as they embark on the journey of a
            lifetime. Whether you're drawn to the serene lakes of Nainital, the
            lush valleys of Mussoorie, or the spiritual ambiance of Rishikesh,
            we're here to guide you in creating the wedding of your dreams in
            this enchanting region.
        </p>
        <p>
            With a deep appreciation for the local customs and traditions, we
            strive to connect you with the essence of Uttarakhand's heritage,
            weaving elements of authenticity into every aspect of your
            celebration. From recommending breathtaking venues to providing
            insights into logistics and planning, our dedicated team is
            committed to ensuring that your wedding experience is seamless and
            magical.
        </p>
        <p>
            At Pavitra Pheres, we believe that every love story deserves to be
            celebrated in a setting as unique and remarkable as the bond it
            honors. Join us on this journey as we unveil the beauty and charm of
            Uttarakhand through the lens of matrimonial bliss.
        </p>
        <p>
            Let's embark on this enchanting adventure together, where love knows
            no bounds and dreams take flight amidst the pristine landscapes of
            Uttarakhand.
        </p>
    </TextPage>
</Layout>
