---
import { description } from "../application.json";
---

<div class="h-[85vh] flex flex-col items-start lg:px-20 px-4 justify-center">
    <div class="flex flex-col lg:w-1/2 gap-4 lg:items-start">
        <h3 class="text-md font-semibold" aria-label="Hello and Welcone">- Hello and Welcome</h3>
        <h1
            class="lg:text-6xl text-5xl flex flex-col font-bold gap-2 hero_text"
            aria-label="Plan Your Dream weddings in Uttarakhand"
        >
            <span>Plan Your</span>
            <span class="text-primary lg:text-7xl text-6xl">Dream Wedding</span>
            <span>in Uttarakhand</span>
        </h1>
        <p>
            {description}
        </p>
        {/* <button type="button">Book for consult</button> */}
        {
            /* <button class="bg-secondary text-white font-bold px-4 py-2 rounded-md" type="button">Book for consult </button> */
        }
    </div>
</div>
