---
import { getCollection } from "astro:content";

interface Props {
    relatedBlogs: Array<string>;
}

const { relatedBlogs } = Astro.props;

export async function getPostData(post: string) {
    const relatedPost = await getCollection("posts", ({ data }) => {
        return data.title === post;
    });
    return relatedPost[0];
}

const postPromises = relatedBlogs.map((post) => getPostData(post));
const post = await Promise.all(postPromises);
---

<div class="flex flex-col">
    <h3 class="font-bold">Also Read</h3>
    <div>
        {
            post.map(({ data }) => (
                <a href={`/blogs/${data.title}`} class=" text-primary ">
                    <h4 class="text-md font-medium text-primary">
                        {data.title}
                    </h4>
                </a>
            ))
        }
    </div>
</div>
