---
import "../styles/global.css";
import { Navbar, Footer } from "../components";
import Meta from "../components/meta.astro";
export const prerender = true;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<slot name="meta" />
	</head>
	<body>
		<Navbar client:only />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
